<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <a th:href="@{/author}" class="btn btn-primary">Add Author</a>
    <table>
        <thead>
            <td>No</td>
            <td>Name</td>
            <td>LastName</td>
            <td>Age</td>
            <td>Actions</td>
        </thead>
        <tr th:each="author: ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td th:text="${author.lastName}"></td>
            <td th:text="${author.age}"></td>
            <td>
                <a th:href="@{/author/edit/{authorID}(authorID=${author.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/author/delete/{authorID}(authorID=${author.id})}" class="btn btn-primary">Delete</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>