<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hello, <span th:text="${name}"></span>!</h1>
    <div class="row">
        <form th:object="${authorFormObject}" th:action="@{/author/create}" th:method="post">
            <input hidden="true" th:type="text" th:field="*{id}" id="id" class="form-control">
            <div class="col-4">
                <label for="name">Name</label>
                <input th:type="text" th:field="*{name}" id="name" class="form-control">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="lastName">LastName</label>
                <input th:type="text" th:field="*{lastName}" id="lastName" class="form-control">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="age">Age:</label>

                <input th:type="number" th:field="*{age}" id="age" class="form-control">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
            </div>
            <div class="col-4">
                <input class="btn-primary" type="submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>